{% extends 'empindex.html' %}
{% load static %}
{% block content %}
<div class="container-fluid py-5 my-5" style="background: linear-gradient(rgba(202, 203, 185, 1), rgba(202, 203, 185, 1));">
    <div class="container">
        <div class="row g-4 align-items-center">
            {% for i in data %}
            <div class="col-lg-7">
                <h1 class="mb-4 text-primary">{{i.name}}</h1>
                <h1 class="mb-4">{{i.vacancy}} vacancies</h1>
                <h4>{{i.location}}</h4>
                <h4>{{i.exp}} yrs</h4>
                <h4>{{i.sal}} /-</h4>
                <p class="text-dark mb-4 pb-2">{{i.skill}}
                </p>
               
            </div>
            <div class="col-lg-5">
                <div class="rounded">
                    <img src="{{i.image.url}}" class="img-fluid rounded w-100 rounded" alt="">
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}