{% extends 'admin_ui.html' %}
{% block content %}
<div class="card">
    <div class="card-body">
      <h4 class="card-title">Registered users</h4>
      </p>
      <div class="table-responsive">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>User Name</th>
              <th>password</th>
              <th>Email</th>
              <th>Phone Number</th>
            </tr>
          </thead>
          <tbody>
            {% for i in details %}
            <tr>
              <td>{{i.username}}</td>
              <td>{{i.password}}</td>
              <td>{{i.email}}</td>
              <td>{{i.number}}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
{% endblock %}