{% extends 'admin_ui.html' %}
{% block content %}
<div class="card">
    <div class="card-body">
      <h4 class="card-title">Jobs</h4>
      <p class="card-description">List of Jobs</p>
      {% for i in details %}
      <form class="forms-sample" action="{% url 'update' id=i.id %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group row">
          <label for="exampleInputUsername2" class="col-sm-3 col-form-label">Name</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" value="{{i.name}}" name="name" id="exampleInputUsername2" placeholder="Name">
          </div>
        </div>
        <div class="form-group row">
          <label for="exampleInputEmail2" class="col-sm-3 col-form-label">Image</label>
          <div class="col-sm-9">
            <input type="file" class="form-control" name="image" id="exampleInputEmail2" placeholder="Image">
          </div>
        </div>
        <div class="form-group row">
          <label for="exampleInputMobile" class="col-sm-3 col-form-label">Numbers of Vacancy</label>
          <div class="col-sm-9">
            <input type="number" class="form-control" value="{{i.vacancy}}" name="vacancy"  id="exampleInputMobile" placeholder="Vacancy">
          </div>
        </div>
        <div class="form-group row">
          <label for="exampleInputMobile" class="col-sm-3 col-form-label">Skills</label>
          <div class="col-sm-9">
          <input type="text" name="skill" value="{{i.skill}}">          
          </div>
        </div>
        <div class="form-group row">
          <label for="exampleInputMobile" class="col-sm-3 col-form-label">Location</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" value="{{i.location}}" name="loc"  id="exampleInputMobile" placeholder="Description">
          </div>
        </div>
        <div class="form-group row">
          <label for="exampleInputMobile" class="col-sm-3 col-form-label">Experience</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" value="{{i.exp}}" name="exp"  id="exampleInputMobile" placeholder="Experience">
          </div>
        </div>
        <div class="form-group row">
          <label for="exampleInputMobile" class="col-sm-3 col-form-label">Salary</label>
          <div class="col-sm-9">
            <input type="number" class="form-control" value="{{i.sal}}" name="sal"  id="exampleInputMobile" placeholder="Salary">
          </div>
        </div>
        <div class="form-check form-check-flat form-check-primary">
          <label class="form-check-label">
            <input type="checkbox" class="form-check-input"> Remember me <i class="input-helper"></i></label>
        </div>
        <button type="submit" class="btn btn-primary mr-2">Submit</button>
        <button class="btn btn-dark">Cancel</button>
      </form>
      {% endfor %}
    </div>
  </div>
{% endblock %}