
{% extends 'home_page.html' %}
{% load static %}
{% block content %}


  <div class="hero hero-inner">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6 mx-auto text-center">
          <div class="intro-wrap">
            <h1 class="mb-0">About Us</h1>
            <p class="text-white">Rich with experts and the elite skills, Gain new knowledge and skills which leads you through a great path</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  
  
  <div class="untree_co-section">
    <div class="container">
      <div class="row">
        <div class="col-lg-7">
          <div class="owl-single dots-absolute owl-carousel">
            <img src="{% static '' %}images/about_slide1.jpg" alt="Free HTML Template by Untree.co" class="img-fluid rounded-20">
            <img src="{% static 'images/about_slide2.jpg' %}" alt="Free HTML Template by Untree.co" class="img-fluid rounded-20">
            <img src="{% static 'images/about_slide3.jpg' %}" alt="Free HTML Template by Untree.co" class="img-fluid rounded-20">
            <img src="{% static 'images/about_slide4.jpg' %}" alt="Free HTML Template by Untree.co" class="img-fluid rounded-20">
            <img src="{% static 'images/about_slide5.jpg' %}" alt="Free HTML Template by Untree.co" class="img-fluid rounded-20">
          </div>
        </div>
        <div class="col-lg-5 pl-lg-5 ml-auto">
          <h2 class="section-title mb-4">About Us</h2>
          <p>Our service is to provide the required knowledge which our Clients seeks for, And provide them in a expert way. Clearout all their questtions and doubts which leads to a clear path. Ask questions anytime and anywhere in a conventional way</p>
          <ul class="list-unstyled two-col clearfix">
            <li>2019-2024</li>
            <li>Experts</li>
            <li>certified by legal authorities</li>
            <li>24/7</li>
            <li>Required by our clients</li>
            <li>Easy Guidance</li>
            <li>Membership</li>
            <li>Most viewed site in 2020</li>
            <li>Trustable</li>
            <li>conventional payment method</li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="untree_co-section">
    <div class="container">
      <div class="row justify-content-center mb-5">
        <div class="col-md-6 text-center">
          <h2 class="section-title mb-3 text-center">Top Experts</h2>
          <p>The most rated experts by thier clients, With respect of their Designation</p>
        </div>
      </div>

      <div class="row">
        {% for i in data %}
        <div class="col-lg-3 mb-4">
          <div class="team">
            <a href="{% url 'singleemp' id=i.id %}"><img src="{{i.img.url}}" style="height: 500px;width: 300px; alt="Image" class="img-fluid mb-4 rounded-20"></a>
            <div class="px-3">
              <h3 class="mb-0">{{i.name}}</h3>
              <p>{{i.design}}</p>
            </div>
          </div>
        </div>
        {% endfor %}
       

      </div>

    </div>
  </div>

{% endblock %}