{% extends 'home_page.html' %}
{% block content %}
<head>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">

</head>

  <div class="hero hero-inner">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6 mx-auto text-center">
          <div class="intro-wrap">
            <h1 class="mb-0">Job Details</h1>
            <p class="text-white">Findout Our Jobs and job details like qualifications, experiences, location etc.... </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  
  <div class="untree_co-section">
    {% for i in detail %}
    <div class="container">
      <div class="row mb-5 justify-content-center">
        <div class="col-lg-6 text-center">
          <h2 class="section-title text-center mb-3">{{i.name}}</h2>
          <p>{{i.location}}</p>
        </div>
      </div>
      <div class="row align-items-stretch">
        <div class="">
          <div class="frame"><div class="feature-img-bg "><img class="prof" style="height: 500px;width: 300px;" src="{{i.image.url}}"></div></div>
        </div>

        <div style="margin-left: 50px;" class="col-6 col-sm-6 col-lg-4 feature-1-wrap d-md-flex flex-md-column order-lg-1" >

          <div class="feature-1 d-md-flex zoom" >
            <div class="align-self-center">
              <span class="fas fa-briefcase display-4 text-primary"></span>
              <br><br><h3>Numbers Of Vacancy</h3>
              <p class="mb-0">{{i.vacancy}}</p>
            </div>
          </div>

          <div class="feature-1 zoom" >
            <div class="align-self-center">
              <span class="fas fa-tools display-4 text-primary"></span>
             <br><br> <h3>Skills</h3>
              <p class="mb-0">{{i.skill}}</p>
            </div>
          </div>

        </div>

        <div class="col-6 col-sm-6 col-lg-4 feature-1-wrap d-md-flex flex-md-column order-lg-3" >

          <div class="feature-1 d-md-flex zoom">
            <div class="align-self-center">
              <span class="fas fa-certificate display-4 text-primary"></span>
             <br><br> <h3>Experience About</h3>
              <p class="mb-0">{{i.exp}}</p>
            </div>
          </div>

          <div class="feature-1 d-md-flex zoom">
            <div class="align-self-center">
              <span class="fas fa-rupee-sign display-4 text-primary"></span>
            <br><br>  <h3>Basic Salary Provide</h3>
              <p class="mb-0">{{i.sal}}</p>
            </div>
          </div>

        </div>

      </div>
    </div><br><br><br>
    <div class="py-5 cta-section">
      <div class="container">
        <div class="row text-center">
          <div class="col-md-12">
            <h2 class="mb-2 text-white">Lets you Explore the Best. Apply Now</h2>
            <p class="mb-4 lead text-white text-white-opacity">Touch with our Experts before you get into the real course.</p>
            <p class="mb-0"><a href="{% url 'booking' id=i.id %}" class="btn btn-outline-white text-white btn-md font-weight-bold">APPLY NOW</a></p>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  
  

  {% endblock %}